::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1E0C1B;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 100px;
    border: solid 3px #1E0C1B;
}

    ::-webkit-scrollbar-thumb:hover {
        background: yellow;
    }

::-webkit-scrollbar-corner {
    background: #1E0C1B;
}


* {
    scroll-behavior: smooth;
}

html {
padding: 0;
margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1E0C1B;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #161240;
}

#content {
    text-align: left;
}

.link {
    display: inline-block;
}

#categories {
    text-align: center;
}

.section {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}

#quickaccess {
    background-color: #161240;
    padding: 0;
}

#ccontent {
    text-align: left;
}

#quickaccessTitle {
    width: 100%;
    text-align: center;
}

#quickaccessContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quickn {
    display: block;
    color: #eee;
}

#overviewbar {
    grid-area: bar;
    border-color: gold;
    height: fit-content;
}

#overviewtext {
    grid-area: text;
}

.obtop {
    color: black;
}