header {
    padding: 3vw;
    box-shadow: 0 -2vw 5vw 2vw black;
}

#logo_container {
    padding: 0.5vw;
    text-align: center;
}

#logo_image {
    height: 20vw;
    margin: 2vw;
}

#logo_title {
    font-size: 10vw;
    margin: 1vw;
    padding-bottom: 1vw;
}

#link_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw 2vw;
}

.header_link {
    color: yellow;
    font-size: 4.5vw;
    text-decoration: none;
    font-weight: 600;
}

@media(min-width: 1280px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #logo_image {
        height: 10vw;
    }

    #logo_title {
        font-size: 6vw;
    }

    #link_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2vw;
    }

    .header_link {
        color: yellow;
        font-size: 3vw;
        text-decoration: none;
        font-weight: 600;
    }
}

#content {
    padding: 4vw;
}

.text {
    font-size: 35px;
}

.link {
    font-weight: 600;
    text-decoration: none;
    color: yellow;
}

.sectionheader {
    font-size: 65px;
}

#sections {
    display: inline-grid;
    grid-template-columns: repeat(2, 40vw);
    grid-gap: 5vw;
}

.section {
    width: 1fr;
    height: 40vw;
    border: solid white 3px;
    border-radius: 5vw;
    background-size: 40vw;
    box-shadow: 0 0 15vw 1vw black inset;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-shadow: 0 0 2vw black, 0 0 2vw black, 0 0 5vw black;
    font-size: 2.5vw;
}

#gridlist {
    margin-top: 8vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vw 5vw;
}

.glistitem {
    font-size: 40px;
    font-weight: 500;
    color: yellow;
    text-decoration: none;
}

@media(min-width: 1280px) {
    #sections {
        display: inline-grid;
        grid-template-columns: repeat(3, 27.5vw);
        grid-gap: 3vw;
    }

    .section {
        width: 1fr;
        height: 27.5vw;
        border: solid white 3px;
        border-radius: 4vw;
        background-size: 25vw;
        box-shadow: 0 0 8vw 0.75vw black inset;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-shadow: 0 0 1.5vw black, 0 0 1.5vw black, 0 0 3vw black;
        font-size: 1.5vw;
    }

    #gridlist {
        margin-top: 3vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw 5vw;
    }

    .glistitem {
        font-size: 50px;
        font-weight: 500;
        color: yellow;
        text-decoration: none;
    }
}